/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
    -fx-alignment:top-center;
    -fx-background-color:#fff;
}
.button {
    -fx-background-color:transparent;
    -fx-text-fill:black;
    -fx-padding: 8.0px 10.0px;
    -fx-border-width: 2.0px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-radius: 2.0px;
    -fx-background-insets: 0.0px;
    -fx-min-width: 300.0px;
    -fx-font-size: 26.0px;    
    -fx-font-family: "Lato";
}
.button:hover,
.button--active{
    -fx-background-color: black;
    -fx-text-fill:white;
    -fx-cursor: hand;
}
.button--close,
.button--back,
.button--sound{
    -fx-font-family: "GlaserSted";
    -fx-font-weight: bold;    
    -fx-min-width: 50.0px;
    -fx-min-height: 50.0px;
}
.button--sound,
.button--back{
    -fx-font-family: "FontAwesome";
}
.mainCloseBtnWrapper,
.backBtnWrapper{
    -fx-alignment:top-right;
    -fx-padding: 20.0px 20.0px 0.0 0.0; 
}
.vbox{
    -fx-alignment:top-right;   
    -fx-min-width:1024.0px; 
}
.hbox{
    -fx-alignment:bottom-center;
}
.logo{
    -fx-font-size:88.0px;
    -fx-font-family: "GlaserSted";
}
.logoSlogan{
    -fx-font-size:40.0px;
    -fx-font-family: "ERASDEMI";
    -fx-border-width: 2.0px;
    -fx-border-color: black;
    -fx-border-style: solid;
}
.logoWrapper{
    
}
.logoSloganWrapper{
    -fx-padding: 38.0px 0.0 0.0 8.0px;    
}
.mainWrapper,
.mainMenuVbox{
    -fx-alignment:top-center;
}
.mainSoundBtnWrapper{
    -fx-alignment:top-right;
    -fx-min-width: 1024.0px;
    -fx-padding:20.0px 20.0px 0.0 0.0;
}
.scoreLabel{
    -fx-font-size: 40.0px;    
    -fx-font-family: "GlaserSted";
}
.mainContent{
    -fx-max-width:1024.0px;
    -fx-min-width: 1024.0px;
}
.footer{
    -fx-border-width: 2.0px 0.0 0.0 0.0;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-max-width:1024.0px;
}